In [ ]:
from google.colab import files

In [ ]:
uploaded= files.upload()

Saving cardio_train.csv to cardio_train.csv

In [ ]:
import io

In [ ]:
import pandas as pd

In [ ]:
df= pd.read_csv(io.BytesIO(uploaded['cardio_train.csv']), sep=';')

In [ ]:
df

          id    age  gender  height  weight  ...  gluc  smoke  alco  active  cardio
0          0  18393       2     168    62.0  ...     1      0     0       1       0
1          1  20228       1     156    85.0  ...     1      0     0       1       1
2          2  18857       1     165    64.0  ...     1      0     0       0       1
3          3  17623       2     169    82.0  ...     1      0     0       1       1
4          4  17474       1     156    56.0  ...     1      0     0       0       0
...      ...    ...     ...     ...     ...  ...   ...    ...   ...     ...     ...
69995  99993  19240       2     168    76.0  ...     1      1     0       1       0
69996  99995  22601       1     158   126.0  ...     2      0     0       1       1
69997  99996  19066       2     183   105.0  ...     1      0     1       0       1
69998  99998  22431       1     163    72.0  ...     2      0     0       0       1
69999  99999  20540       1     170    72.0  ...     1      0     0       1       0

[70000 rows x 13 columns]

In [ ]:
x = df.drop(['id','cardio',],axis=1)
y = df['cardio']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size=0.8, test_size=0.2, random_state=50)

In [ ]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
from sklearn.feature_selection import chi2

In [ ]:
feature= SelectKBest(score_func=f_classif,k='all')
feature.fit(x,y)

SelectKBest(k='all', score_func=<function f_classif at 0x7fc1b12e38c0>)

In [ ]:
feature
pd.DataFrame(feature.scores_)

              0
0   4194.784028
1      4.603641
2      8.197397
3   2388.777887
4    208.339524
5    303.629011
6   3599.361137
7    562.772977
8     16.790541
9      3.761355
10    89.091494

In [ ]:
from sklearn.ensemble import RandomForestClassifier 
DT = RandomForestClassifier()
DT.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
DT.score(x_test, y_test)

0.7175714285714285

In [ ]:
x = df.drop(['id','cardio','gender','height','alco','smoke'],axis=1)
y = df['cardio']
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size=0.8, test_size=0.2, random_state=50) 
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
from sklearn.feature_selection import chi2
feature= SelectKBest(score_func=f_classif,k='all')
feature.fit(x,y)
feature
pd.DataFrame(feature.scores_)

             0
0  4194.784028
1  2388.777887
2   208.339524
3   303.629011
4  3599.361137
5   562.772977
6    89.091494

In [ ]:
from sklearn.ensemble import RandomForestClassifier 
DT = RandomForestClassifier()
DT.fit(x_train,y_train)
DT.score(x_test, y_test)

0.692

In [ ]:
#Dataset Load
#Divide Features and Labels
#Prepocessing
      #Null Value
      #Category
      #Feature Selection
            #Univariate