In [1]:
from google.colab import files
upload = files.upload()

Saving credit card taiwan svm algorithm.csv to credit card taiwan svm algorithm.csv

In [2]:
import io

In [3]:
import pandas as pd
df = pd.read_csv(io.BytesIO(upload['credit card taiwan svm algorithm.csv']))

In [4]:
df

          ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0          1    20000.0    2  ...       0.0       0.0                           1
1          2   120000.0    2  ...       0.0    2000.0                           1
2          3    90000.0    2  ...    1000.0    5000.0                           0
3          4    50000.0    2  ...    1069.0    1000.0                           0
4          5    50000.0    1  ...     689.0     679.0                           0
...      ...        ...  ...  ...       ...       ...                         ...
29995  29996   220000.0    1  ...    5000.0    1000.0                           0
29996  29997   150000.0    1  ...       0.0       0.0                           0
29997  29998    30000.0    1  ...    2000.0    3100.0                           1
29998  29999    80000.0    1  ...   52964.0    1804.0                           1
29999  30000    50000.0    1  ...    1000.0    1000.0                           1

[30000 rows x 25 columns]

In [5]:
df.shape

(30000, 25)

In [6]:
#preprocessing
df.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           2
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

In [7]:
missing = df.AGE.mean();
missing

35.48549903326889

In [8]:
df.AGE = df.AGE.fillna(missing)

In [9]:
df.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

In [10]:
#specify input and output
x = df.drop('default.payment.next.month',axis = 1)
y = df['default.payment.next.month']
print("Value of x: ",x.head())
print("\n value of y: ",y.head())

Value of x:     ID  LIMIT_BAL  SEX  EDUCATION  ...  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6
0   1    20000.0    2          2  ...       0.0       0.0       0.0       0.0
1   2   120000.0    2          2  ...    1000.0    1000.0       0.0    2000.0
2   3    90000.0    2          2  ...    1000.0    1000.0    1000.0    5000.0
3   4    50000.0    2          2  ...    1200.0    1100.0    1069.0    1000.0
4   5    50000.0    1          2  ...   10000.0    9000.0     689.0     679.0

[5 rows x 24 columns]

 value of y:  0    1
1    1
2    0
3    0
4    0
Name: default.payment.next.month, dtype: int64

In [11]:
#specify train test variables
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size=0.8, test_size = 0.2, random_state = 50)

In [12]:
#import Naive Bayes from scikit learn
from sklearn.naive_bayes import GaussianNB
NB = GaussianNB()

In [13]:
#fit the model
NB.fit(x_train,y_train)

GaussianNB()

In [14]:
NB.score(x_test,y_test)

0.3565